{{ partial "header" . }}
<div class="jumbotron">
    <div class="container text-center">
        <h1>{{ .Title }}</h1>
    </div>
</div>
<div class="container clearfix">
    <div class="row">
        <main role="main" class="col-md-9">
            <ul class="list-unstyled">
                {{ $paginator := .Paginate .Data.Pages }}
                {{ range $paginator.Pages }}
                {{ .Render "li"}}
                {{ end }}
                {{ partial "pagination" . }}
            </ul>
        </main>
        <aside class="col-md-3">
            {{ partial "article-tags" . }}
        </aside>
    </div>
</div>
{{ partial "footer" . }}