html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-top: 90px;
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.footer {
    position: absolute;
    bottom: 0px;
    height: auto;
    width: 100%;
}

a.backtotop {
  display: none;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
}

.img2txt {
    font-size: 5pt;
    letter-spacing: 3px;
    line-height: 5pt;
    font-weight: bold;
}