<footer class="footer">
    <div class="container">
        <p class="text-center"><a href="{{ .Site.BaseURL }}post/index.xml" target="_blank" title="RSS"><i
                class="fa fa-rss"></i></a> &copy; {{ .Now.Format "2006" }} &middot; {{ .Site.Copyright | markdownify }}
        </p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/highlight.js/9.1.0/highlight.min.js"></script>
<script src="{{ .Site.BaseURL }}js/backtotop.js"></script>
<script>
$(document).ready(function(){
	$('code').parents('pre').each(function(i, block) {
	  hljs.highlightBlock(block);
	});
});
</script>
</body>
</html>