{{ partial "header" . }}
<div class="container clearfix">
    <div class="row">
        <main role="main" class="col-md-9">
        <article class="post">
            {{ partial "article-header" . }}
            {{ .Content}}
            {{ partial "article-share" . }}
        </article>
        <div class="comments">
            <h3>{{ .Site.Data.l10n.comments.comments }}</h3>
            {{ template "_internal/disqus.html" . }}
        </div>
        </main>
        {{ partial "author" . }}
    </div>
    <a href="#" class="backtotop"><span class="fa fa-rocket fa-4x"></span></a>
</div>
{{ partial "footer" . }}